<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up Form</title>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/restaurant.css">
    <link rel="stylesheet" href="css/common.css">
  </head>
  <body>
  <h1>Please Sign Up</h1>
  
  <form name="signup" novalidate>
  First Name: <input type="text" style="color:black" ng-model="ctrl.firstName" name="firstName" required/>
  <span ng-if="signup.firstName.$error.required && signup.firstName.$touched">*First name is required.</span>
  
  Last Name: <input type="text" style="color:black" ng-model="ctrl.lasttName" name="lasttName" required/>
  <span ng-if="signup.lastName.$error.required && signup.lastName.$touched">*Last name is required.</span>
  
  Email Address: <input type="text" style="color:black" ng-model="ctrl.email" name="email" required/>
 <span ng-if="signup.email.$invalid && signup.email.$touched">*Email not in correct format.</span>
<span ng-if="signup.email.$error.required && signup.email.$touched">*Email is required.</span>
  
  Phone Number: <input type="text" style="color:black" ng-model="ctrl.phone" name="phone" required/>
  <span ng-if="signup.phoneNum.$error.required && signup.phoneNum.$touched">*Phone number is required.</span>
  
  Favorite Menu Item #: <input type="text" style="color:black" ng-model="ctrl.faveMenuNum" name="faveMenuNum" required/>
  <span ng-if="signup.favMenuNum.$error.required && signup.favMenuNum.$touched">*Favorite Menu Number is required.</span>
  
  <button class="btn btn-primary" ng-click="ctrl.submit()" ng-disabled="signup.$invalid">Submit</button>
  <span ng-if="ctrl.doesNotExist">Wrong menu numer</span>
   <span ng-if="ctrl.doesExist">Your info is saved</span>
  </form>
  </body>
  </html>
